{% extends "menu_bar.html" %}

{% block title %}Block & PC Profile{% endblock %}

{% block content %}

    <!--Widget Start-->
    <div class="card-body">
        <div class="container3">

            <!-- Back to Selection Process Link -->
            <div class="back-link">
                <a href="{{ url_for('settings') }}" class="back-button">Back to Settings home page</a>
            </div>

                <div class="mb-3 col-md-6 col-12">
                    <div class="card1">
                        <a href="{{ url_for('block_PC.view_profiles') }}" class="card-link"> <!-- Make the whole card clickable -->
                            <div class="face">
                                <div class="content">
                                    <i class="fa-solid fa-user-gear icon"></i>
                                    <span class="num" data-val="5">5</span>
                                    <h3 style="font-size: 15px; margin-top: 15px;">Block Profile</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="mb-3 col-md-6 col-12">
                    <div class="card1">
                        <a href="{{ url_for('block_PC.view_pc_profiles') }}" class="card-link"> <!-- Make the whole card clickable -->
                            <div class="face">
                                <div class="content">
                                    <i class="fa-solid fa-user-gear icon"></i>
                                    <span class="num" data-val="5">5</span>
                                    <h3 style="font-size: 15px; margin-top: 15px;">PC Profile</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6 col-12">
                        <div class="card1">
                            <a href="{{ url_for('block_PC.pc_assigned_users_list') }}" class="card-link">
                                <div class="face">
                                    <div class="content">
                                        <i class="fa-solid fa-users icon"></i>
                                        <h3 style="font-size: 15px; margin-top: 15px;">PC-Assigned Users List</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    

{% endblock %}