<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="pythonhandler_WebAPP" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python312\python.exe | C:\Users\Administrator\AppData\Local\Programs\Python\Python312\Lib\site-packages\wfastgci.py" resourceType="Either" requireAccess="Script" />
        </handlers>
        <directoryBrowse enabled="true" />       
    </system.webServer>
    <connectionStrings>
        <!-- MongoDB Connection String -->
        <add name="mongoConnection" connectionString="mongodb://192.168.0.18:27017/" />
    </connectionStrings>    
</configuration>